<main-header title="Campanhas"></main-header>
<ion-content>
  <ion-card id="card" mode="ios" *ngFor="let campanha of campanhas">
      <img [src]="campanha.urlImagem" *ngIf="campanha.urlImagem" (click)="viewImage(campanha.urlImagem, campanha.titulo, campanha.descricao)">
    <ion-card-header>
      <h5><strong>{{ campanha.titulo }}</strong></h5>
      <h6>{{ campanha.dia }}</h6>
      <h6>{{ campanha.dataInicio | date:'dd/MM/yyyy' }} a {{ campanha.dataFinal | date:'dd/MM/yyyy' }} - {{ campanha.horario }}h</h6>
    </ion-card-header>
    <ion-card-content>
      <p>{{ campanha.descricao }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
