<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start" (click)="redirecionarCategorias()">
          <ion-back-button icon="arrow-back"></ion-back-button>
      </ion-buttons>
    <ion-title>Ensaios Cadastrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-sliding id="item100" *ngFor="let ensaio of ensaios">
    <ion-item (click)="redirecionarAtualizarEnsaio(ensaio)">
      <ion-label>
        <h2>{{ ensaio.titulo }}</h2>
        <p>{{ ensaio.descricao }}</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="deletarEnsaio(ensaio._id, ensaio.urlImagem)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="redirecionarNovoEnsaio()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


