.position-elements {
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

#message-color{
  color: #757575;
}


















ion-segment-button{
//margin-right: 5px;
border-radius: 5px;
ion-label {
text-transform: capitalize;

}

}





ion-segment {

margin-left: 5px;
margin-right: 5px;

}















