<form [formGroup]="form"> 
  <ion-list lines="none">
	<ion-item>
      <ion-label  mode="ios" position="stacked">Adicionais</ion-label>
  
        <ion-button  *ngIf="haveText" (click)="clearAditionalInput()" fill="clear" mode="ios"
          >Excluir<ion-icon name="trash" slot="end"> </ion-icon>
        </ion-button>
  	  
      <ion-textarea
        (click)="openAditionalModal()"
        formControlName="adicional"
        readonly
        auto-grow="true"
        placeholder="Não há adicionais para mostrar"
      ></ion-textarea>
  
</ion-item>
    <!--<ion-item *ngIf="haveText">
    <ion-button (click)="clearAditionalInput()" fill="clear" mode="ios">Excluir<ion-icon name="trash" slot="end"></ion-icon></ion-button>
  </ion-item>-->
  </ion-list>
</form>
