ion-item{
    margin-bottom: 20px;
}

ion-card{
    //padding-left: 10px;
    //padding-right: 10px;
    //padding-bottom: 20px;
    background-color: white;
    margin: 7px;
  }

  #title-get-image{
    margin-left: 14px;
  }

  .btn-salvar{
    margin-top: 50px;
  }

