<!-- <ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sessions</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #scheduleList [hidden]="shownSessions === 0">
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ion-item-divider sticky>
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase"
        [hidden]="session.hide">
        <ion-item routerLink="/app/tabs/schedule/session/{{session.id}}">
          <ion-label>
            <h3>{{session.name}}</h3>
            <p>
              {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
            *ngIf="segment === 'favorites'">
            Remove
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="google" (click)="openSocial('Google+', fab)">
        <ion-icon name="logo-googleplus"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content> -->

<ion-header class="border-bottom">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ng-container button>
    <lottie-animation
      class="alignment"
      animationName="two-people.json"
      renderer="canvas"
      autoplay="true"
      loop="true"
      size="350px"
      (click)="mostrarDetalhes()"
    ></lottie-animation>
  </ng-container>

  <!-- <div class="alignment position-elements">
      <lottie-animation-view [options]="lottieConfig" width="550"></lottie-animation-view>
    </div> -->

  <ion-card-content>
    <p class="text-style">
      A origem das Assembleias de Deus no Brasil está no fogo do reavivamento
      que varreu o mundo por volta de 1900, início do Século XX, especialmente
      na América do Norte. Os participantes desse reavivamento foram cheios do
      Espírito Santo da mesma forma que os discípulos e os seguidores de Jesus
      durante a Festa Judaica do Pentecostes, no início da Igreja Primitiva,
      conforme está escrito em Atos 2. Assim, eles foram chamados de
      “pentecostais”.
    </p>
    <!-- <cite id="formatar-citacao">CPAD</cite> -->
  </ion-card-content>

  <!-- <ion-card button mode="ios" class="welcome-card" (click)="mostrarDetalhes()">
    <img src="../../../assets/img/AD_logo.png" alt="" />
    <ion-card-content>
      <p class="text-style">
        A origem das Assembleias de Deus no Brasil está no fogo do reavivamento
        que varreu o mundo por volta de 1900, início do Século XX, especialmente
        na América do Norte. Os participantes desse reavivamento foram cheios do
        Espírito Santo da mesma forma que os discípulos e os seguidores de Jesus
        durante a Festa Judaica do Pentecostes, no início da Igreja Primitiva,
        conforme está escrito em Atos 2. Assim, eles foram chamados de
        “pentecostais”.
      </p>
      <cite id="formatar-citacao">CPAD</cite>
    </ion-card-content>
  </ion-card> -->

  <!--<div style="background-color: white; margin: 0;position:absolute;
bottom:0;
width:100%;">
  <div style="float:left;background-color: white; width: 33.2%;  " class="ion-padding" >
      <ion-icon style="font-size: 25px; display: block; color: rgb(133, 130, 130);
      margin-left: auto;
      margin-right: auto; " mode="ios"  name="home"></ion-icon>
      <small>Home</small>
  </div>
  <div style="float:left;background-color: white; width: 33.2%;  " class="ion-padding">
      <ion-icon style="font-size: 25px; display: block; color: rgb(133, 130, 130);
      margin-left: auto;
      margin-right: auto;" mode="ios" name="flame"></ion-icon>
      <div style=" margin-left: auto;
      margin-right: auto; width: 33.2%">
      <small>Cultos</small>
    </div>
  </div>
  <div style="float:left;background-color: white; width: 33.2%; " class="ion-padding">
      <ion-icon style="font-size: 25px;  display: block; color: rgb(133, 130, 130);
      margin-left: auto;
      margin-right: auto;" mode="ios" name="settings"></ion-icon>
      <small>Administrador</small>
  </div>
</div>-->

  <!--<ion-fab horizontal="end" mode="ios" vertical="bottom" slot="fixed">
    <ion-fab-button mode="ios" (click)="redirecionarLogin()">
      <ion-icon mode="ios" name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
<!-- <tab-menu></tab-menu> -->
