.alignment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2.5%;
    margin-bottom: -11%;
}

.text-style{
  text-align: justify;
  margin-top: 5px;
  // color: rgb(117, 117, 117);
}




