ion-card-subtitle{
    text-align: justify;
    font-size: 1.2em;
}
ion-card-content {
    text-align: justify;
    text-indent: 1.5em;
    font-size: 1.2em;
}

ion-card-title{
    text-align: center;
}



