<ion-header class="border-bottom">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Origem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title
        ><strong>Assembleias de Deus no Brasil</strong></ion-card-title
      >
      <ion-card-subtitle
        >Daniel Berg e Gunnar Vingren chegaram a Belém do Pará em 1910 e
        iniciaram esta grande obra.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        A origem das Assembleias de Deus no Brasil está no fogo do reavivamento
        que varreu o mundo por volta de 1900, início do Século XX, especialmente
        na América do Norte. Os participantes desse reavivamento foram cheios do
        Espírito Santo da mesma forma que os discípulos e os seguidores de Jesus
        durante a Festa Judaica do Pentecostes, no início da Igreja Primitiva,
        conforme está escrito em Atos 2. Assim, eles foram chamados de
        “pentecostais”. Exatamente como os crentes que estavam no Cenáculo, os
        precursores do reavivamento do Século XX falaram em outras línguas que
        não as suas originais quando receberam o batismo no Espírito Santo.
        Outras manifestações sobrenaturais tais como profecia, interpretação de
        línguas, conversões e curas também aconteceram.
      </p>

      <figure>
        <img src="/assets/daniel-berg.jpg" />
      </figure>

      <p>
        Quando Daniel Berg e Gunnar Vingren chegaram a Belém do Pará, em 19 de
        novembro de 1910, ninguém poderia imaginar que aqueles dois jovens
        suecos estavam para iniciar um movimento que alteraria profundamente o
        perfil religioso e até social do Brasil por meio da pregação de Jesus
        Cristo como o único e suficiente Salvador da Humanidade e a atualidade
        do Batismo no Espírito Santo e dos dons espirituais. As igrejas
        existentes na época – Batista de Belém do Pará, Presbiteriana, Anglicana
        e Metodista - ficaram bastante incomodadas com a nova doutrina dos
        missionários, principalmente por causa de alguns irmãos que se mostravam
        abertos ao ensino pentecostal. A irmã Celina de Albuquerque, na
        madrugada do dia 18 de junho de 1911, foi a primeira crente a receber o
        batismo no Espírito Santo, o que não demorou a ocorrer também com outros
        irmãos.Quando Daniel Berg e Gunnar Vingren chegaram a Belém do Pará, em
        19 de novembro de 1910, ninguém poderia imaginar que aqueles dois jovens
        suecos estavam para iniciar um movimento que alteraria profundamente o
        perfil religioso e até social do Brasil por meio da pregação de Jesus
        Cristo como o único e suficiente Salvador da Humanidade e a atualidade
        do Batismo no Espírito Santo e dos dons espirituais. As igrejas
        existentes na época – Batista de Belém do Pará, Presbiteriana, Anglicana
        e Metodista - ficaram bastante incomodadas com a nova doutrina dos
        missionários, principalmente por causa de alguns irmãos que se mostravam
        abertos ao ensino pentecostal. A irmã Celina de Albuquerque, na
        madrugada do dia 18 de junho de 1911, foi a primeira crente a receber o
        batismo no Espírito Santo, o que não demorou a ocorrer também com outros
        irmãos.
      </p>

      <figure>
        <img src="/assets/gunnar-vingren.jpg" />
      </figure>

      <p>
        O clima ficou tenso naquela comunidade, pois um número cada vez maior de
        membros curiosos visitava a residência de Berg e Vingren, onde
        realizavam reuniões de oração. Resultado: eles e mais dezenove irmãos
        acabaram sendo desligados da Igreja Batista. Convictos e resolvidos a se
        organizar, fundaram a Missão de Fé Apostólica em 18 de junho de 1911,
        que mais tarde, em 1918, ficou conhecida como Assembleia de Deus. Em
        poucas décadas, a Assembleia de Deus, a partir de Belém do Pará, onde
        nasceu, começou a penetrar em todas as vilas e cidades até alcançar os
        grandes centros urbanos como São Paulo, Rio de Janeiro, Belo Horizonte e
        Porto Alegre. Em virtude de seu fenomenal crescimento, os pentecostais
        começaram a fazer diferença no cenário religioso brasileiro. De repente,
        o clero católico despertou para uma possibilidade jamais imaginada: o
        Brasil poderia vir a tornar-se, no futuro, uma nação protestante.
      </p>
    </ion-card-content>
  </ion-card>
  <!--<tab-menu></tab-menu>-->
</ion-content>
