<div class="container" class="has-footer">
  <ion-tab-bar slot="bottom">
   
      <ion-tab-button (click)="redirecionarHome()">
        <ion-icon mode="ios" name="home" id="icon-home"></ion-icon>
        <ion-label id="label-home">Home</ion-label>
      </ion-tab-button>
    
    <ion-tab-button (click)="redirecionarCultos()">
      <ion-icon mode="ios" name="contacts" id="icon-cultos"></ion-icon>
      <ion-label id="label-cultos">Cultos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="redirecionarLogin()">
      <ion-icon mode="ios" name="settings" id="icon-admin"></ion-icon>
      <ion-label id="label-admin">Administrador</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon mode="ios" name="information-circle" class="button-hover"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
<!--<ion-tabs>-->
 <!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
     <ion-icon mode="ios" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cultos">
       <ion-icon mode="ios" name="flame"></ion-icon>
      <ion-label>Cultos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon mode="ios" name="settings"></ion-icon>
      <ion-label>Administrador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon mode="ios" name="information-circle"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->