ion-item {
  --transition: unset;
}

.active {
  --color: var(--color-text-redirect);
  --background: rgba(var(--ion-color-primary-rgb), 0.12);
  --background-hover: rgba(var(--ion-color-primary-rgb), 0.16);
  --background-focused: rgba(var(--ion-color-primary-rgb), 0.24);

  ion-icon {
    color: inherit;
  }
}

.btn-exit {
  width: 90%;
  display: block;
  margin: 0 auto 4px auto;
  color: var(--color-link);
  //--border-color: var(--button-border-color);
}

#toolbar-padding{
 padding-bottom: 20px;
}

