<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" (click)="redirecionarOracoesCadastradas()">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Oração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <form [formGroup]="form">
      <div class="ion-padding">
        <ion-item>
          <ion-label mode="ios" position="stacked">Título</ion-label>
          <ion-input mode="ios" formControlName="titulo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label mode="ios" position="stacked">Horário</ion-label>
          <ion-input
            mode="ios"
            type="time"
            formControlName="horario"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label mode="ios" position="stacked">Dia da semana</ion-label>
          <ion-select multiple mode="ios" interface="popover" formControlName="dia">
            <ion-select-option value="Domingo">Domingo</ion-select-option>
            <ion-select-option value=" Segunda-feira"
              >Segunda-feira</ion-select-option
            >
            <ion-select-option value=" Terça-feira"
              >Terça-feira</ion-select-option
            >
            <ion-select-option value=" Quarta-feira"
              >Quarta-feira</ion-select-option
            >
            <ion-select-option value=" Quinta-feira"
              >Quinta-feira</ion-select-option
            >
            <ion-select-option value=" Sexta-feira"
              >Sexta-feira</ion-select-option
            >
            <ion-select-option value=" Sábado">Sábado</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label mode="ios" position="stacked">Descrição</ion-label>
          <ion-textarea class="ion-wrap" mode="ios" formControlName="descricao"> </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label mode="ios" position="stacked">Selecione uma imagem</ion-label>
          <ion-input
              mode="ios"
              type="text"
              [value] = "fileImage"
              readonly
            ></ion-input>
        </ion-item>
        <ion-button mode="ios" (click)="openGalery()" expand="block">
          Escolher Imagem<ion-icon name="images" slot="end"></ion-icon
            >
        </ion-button>
      </div>
      <div class="ion-padding">
        <ion-button
          mode="ios"
          expand="block"
          type="submit"
          class="ion-no-margin"
          (click)="salvarOracao()"
          >Salvar<ion-icon name="send" mode="ios" slot="end"></ion-icon
        ></ion-button>
      </div>
    </form>
  </div>
</ion-content>
