<main-header title="Tipo de Evento"></main-header>
<ion-content>
  <ion-card button mode="ios" (click)="redirecionarEventos('Interno')">
    <img src="../../../../assets/img/evento-interno.jpg"/>
    <ion-card-header>
      <h5><strong>Interno</strong></h5>
    </ion-card-header>
  </ion-card>
  <ion-card button mode="ios" (click)="redirecionarEventos('Externo')">
    <img src="../../../../assets/img/evento-externo.jpg"/>
    <ion-card-header>
      <h5><strong>Externo</strong></h5>
    </ion-card-header>
  </ion-card>
</ion-content>
